*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;
}

body {
  background: #d7c4fa;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding: 3rem;
  border-radius: 1rem;
  background: rgba(243, 226, 255, 0.795);
}

.wrapper-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.box {
  width: 5rem;
  height: 5rem;
  background: cornsilk;
  border-radius: 0.5rem;
}

.box-item {
  width: 5rem;
  height: 5rem;
  background: rgb(226, 182, 255);
  border-radius: 1rem 0.5rem 1rem 1.5rem;
}

.rotate-negativo {
 transform: rotate(-45deg);
}

.rotate-positivo {
  transform: rotate(66deg);
}



